body {background-image: url("back2.1.jpg");
backgrou;
background-repeat: no-repeat;
background-position: top;
background-size: cover;}
h1   {color: white; padding: 20;}
th {color: white}
h3 {color: white}
p    {color: white;}
button{color:black;background-color: white;}
#c1{color:black;background-color: white}
#c2{color:black;background-color: white}
#cr1{color:black;background-color: white}
#cr2{color:black;background-color: white}
#g1{color:black;background-color: white}
#g2{color:black;background-color: white}
#totalCredits{color:black;}
div {
    height: 200px;
    width: 400px;
    //background: black;

    position: fixed;
    top: 30%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
}
.alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
}
